<template>
    <div id="lorem">
<h2>Quy định sử dụng</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque soluta ea ipsam velit perferendis dolore expedita ipsum a eveniet quaerat. Fugit, quia voluptatum ratione provident soluta quidem sapiente blanditiis molestiae? Incidunt provident cupiditate nulla dignissimos eum, sed maxime mollitia ut inventore dolor unde beatae obcaecati repellendus laboriosam quibusdam itaque, pariatur cum iste, facilis illo recusandae ab molestias! Repudiandae mollitia dolores debitis atque fugiat molestias accusantium corrupti quia sequi aut? Sunt, incidunt! Perferendis quas officiis reiciendis asperiores voluptas saepe similique dolores porro eligendi aliquid nemo repudiandae voluptatibus corporis maiores provident a voluptates animi fuga architecto impedit, facilis obcaecati tempore id! Accusamus? </p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur dolore sit possimus eveniet praesentium deleniti beatae exercitationem, maxime recusandae aa  nobis.</p>
  <p>  Voluptates vero voluptatum, nisi, ducimus omnis iste explicabo assumenda unde voluptate quia quibusdam sequi dolore ut, temporibus fugit quaerat earum suscipit tempora molestias eveniet velit minus et. Rem sit id quo inventore! Nesciunt ipsam quidem ipsum nihil dicta illum aliquid id dolores. Molestiae rerum provident dolorum! Eveniet, illum recusandae quam, unde mollitia doloribus enim eos saepe expedita maiores, nam nulla quas. Cum consequuntur beatae, obcaecati earum unde dolores molestiae. Temporibus maiores autem illum in dolore impedit minima voluptatum. Ipsum nulla officiis aperiam dolor maiores, sequi soluta magni alias repudiandae modi quos inventore!</p>
  </div>
</template>

<script setup lang="ts">


</script>

<style scoped>

#lorem{
    padding: 0px 10px;
}

</style>